@font-face {
	font-family: "Raleway Light";
	src: url("../font/Raleway-ExtraLight.ttf");
	font-weight: 200;
}

@font-face {
	font-family: "Raleway Regular";
	src: url("../font/Raleway-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Raleway Bold";
	src: url("../font/Raleway-Bold.ttf");
	font-weight: 600;
}

$light-font: "Raleway Light";
$regular-font: "Raleway Regular";
$Bold-font: "Raleway Bold";

// Colors
$primary-color: #fed700;
$secondary-color: #0084ff;
$white: #fff;
$black: #333;
$light-grey: #eee;
